# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app
code/lapack/BLAS/CMakeLists.txt
code/lapack/BLAS/SRC/CMakeLists.txt
code/lapack/BLAS/SRC/Makefile
code/lapack/BLAS/SRC/caxpy.f
code/lapack/BLAS/SRC/ccopy.f
code/lapack/BLAS/SRC/cdotc.f
code/lapack/BLAS/SRC/cdotu.f
code/lapack/BLAS/SRC/cgbmv.f
code/lapack/BLAS/SRC/cgemm.f
code/lapack/BLAS/SRC/cgemv.f
code/lapack/BLAS/SRC/cgerc.f
code/lapack/BLAS/SRC/cgeru.f
code/lapack/BLAS/SRC/chbmv.f
code/lapack/BLAS/SRC/chemm.f
code/lapack/BLAS/SRC/chemv.f
code/lapack/BLAS/SRC/cher.f
code/lapack/BLAS/SRC/cher2.f
code/lapack/BLAS/SRC/cher2k.f
code/lapack/BLAS/SRC/cherk.f
code/lapack/BLAS/SRC/chpmv.f
code/lapack/BLAS/SRC/chpr.f
code/lapack/BLAS/SRC/chpr2.f
code/lapack/BLAS/SRC/crotg.f
code/lapack/BLAS/SRC/cscal.f
code/lapack/BLAS/SRC/csrot.f
code/lapack/BLAS/SRC/csscal.f
code/lapack/BLAS/SRC/cswap.f
code/lapack/BLAS/SRC/csymm.f
code/lapack/BLAS/SRC/csyr2k.f
code/lapack/BLAS/SRC/csyrk.f
code/lapack/BLAS/SRC/ctbmv.f
code/lapack/BLAS/SRC/ctbsv.f
code/lapack/BLAS/SRC/ctpmv.f
code/lapack/BLAS/SRC/ctpsv.f
code/lapack/BLAS/SRC/ctrmm.f
code/lapack/BLAS/SRC/ctrmv.f
code/lapack/BLAS/SRC/ctrsm.f
code/lapack/BLAS/SRC/ctrsv.f
code/lapack/BLAS/SRC/dasum.f
code/lapack/BLAS/SRC/daxpy.f
code/lapack/BLAS/SRC/dcabs1.f
code/lapack/BLAS/SRC/dcopy.f
code/lapack/BLAS/SRC/ddot.f
code/lapack/BLAS/SRC/dgbmv.f
code/lapack/BLAS/SRC/dgemm.f
code/lapack/BLAS/SRC/dgemv.f
code/lapack/BLAS/SRC/dger.f
code/lapack/BLAS/SRC/dnrm2.f
code/lapack/BLAS/SRC/drot.f
code/lapack/BLAS/SRC/drotg.f
code/lapack/BLAS/SRC/drotm.f
code/lapack/BLAS/SRC/drotmg.f
code/lapack/BLAS/SRC/dsbmv.f
code/lapack/BLAS/SRC/dscal.f
code/lapack/BLAS/SRC/dsdot.f
code/lapack/BLAS/SRC/dspmv.f
code/lapack/BLAS/SRC/dspr.f
code/lapack/BLAS/SRC/dspr2.f
code/lapack/BLAS/SRC/dswap.f
code/lapack/BLAS/SRC/dsymm.f
code/lapack/BLAS/SRC/dsymv.f
code/lapack/BLAS/SRC/dsyr.f
code/lapack/BLAS/SRC/dsyr2.f
code/lapack/BLAS/SRC/dsyr2k.f
code/lapack/BLAS/SRC/dsyrk.f
code/lapack/BLAS/SRC/dtbmv.f
code/lapack/BLAS/SRC/dtbsv.f
code/lapack/BLAS/SRC/dtpmv.f
code/lapack/BLAS/SRC/dtpsv.f
code/lapack/BLAS/SRC/dtrmm.f
code/lapack/BLAS/SRC/dtrmv.f
code/lapack/BLAS/SRC/dtrsm.f
code/lapack/BLAS/SRC/dtrsv.f
code/lapack/BLAS/SRC/dzasum.f
code/lapack/BLAS/SRC/dznrm2.f
code/lapack/BLAS/SRC/icamax.f
code/lapack/BLAS/SRC/idamax.f
code/lapack/BLAS/SRC/isamax.f
code/lapack/BLAS/SRC/izamax.f
code/lapack/BLAS/SRC/lsame.f
code/lapack/BLAS/SRC/sasum.f
code/lapack/BLAS/SRC/saxpy.f
code/lapack/BLAS/SRC/scabs1.f
code/lapack/BLAS/SRC/scasum.f
code/lapack/BLAS/SRC/scnrm2.f
code/lapack/BLAS/SRC/scopy.f
code/lapack/BLAS/SRC/sdot.f
code/lapack/BLAS/SRC/sdsdot.f
code/lapack/BLAS/SRC/sgbmv.f
code/lapack/BLAS/SRC/sgemm.f
code/lapack/BLAS/SRC/sgemv.f
code/lapack/BLAS/SRC/sger.f
code/lapack/BLAS/SRC/snrm2.f
code/lapack/BLAS/SRC/srot.f
code/lapack/BLAS/SRC/srotg.f
code/lapack/BLAS/SRC/srotm.f
code/lapack/BLAS/SRC/srotmg.f
code/lapack/BLAS/SRC/ssbmv.f
code/lapack/BLAS/SRC/sscal.f
code/lapack/BLAS/SRC/sspmv.f
code/lapack/BLAS/SRC/sspr.f
code/lapack/BLAS/SRC/sspr2.f
code/lapack/BLAS/SRC/sswap.f
code/lapack/BLAS/SRC/ssymm.f
code/lapack/BLAS/SRC/ssymv.f
code/lapack/BLAS/SRC/ssyr.f
code/lapack/BLAS/SRC/ssyr2.f
code/lapack/BLAS/SRC/ssyr2k.f
code/lapack/BLAS/SRC/ssyrk.f
code/lapack/BLAS/SRC/stbmv.f
code/lapack/BLAS/SRC/stbsv.f
code/lapack/BLAS/SRC/stpmv.f
code/lapack/BLAS/SRC/stpsv.f
code/lapack/BLAS/SRC/strmm.f
code/lapack/BLAS/SRC/strmv.f
code/lapack/BLAS/SRC/strsm.f
code/lapack/BLAS/SRC/strsv.f
code/lapack/BLAS/SRC/xerbla.f
code/lapack/BLAS/SRC/xerbla_array.f
code/lapack/BLAS/SRC/zaxpy.f
code/lapack/BLAS/SRC/zcopy.f
code/lapack/BLAS/SRC/zdotc.f
code/lapack/BLAS/SRC/zdotu.f
code/lapack/BLAS/SRC/zdrot.f
code/lapack/BLAS/SRC/zdscal.f
code/lapack/BLAS/SRC/zgbmv.f
code/lapack/BLAS/SRC/zgemm.f
code/lapack/BLAS/SRC/zgemv.f
code/lapack/BLAS/SRC/zgerc.f
code/lapack/BLAS/SRC/zgeru.f
code/lapack/BLAS/SRC/zhbmv.f
code/lapack/BLAS/SRC/zhemm.f
code/lapack/BLAS/SRC/zhemv.f
code/lapack/BLAS/SRC/zher.f
code/lapack/BLAS/SRC/zher2.f
code/lapack/BLAS/SRC/zher2k.f
code/lapack/BLAS/SRC/zherk.f
code/lapack/BLAS/SRC/zhpmv.f
code/lapack/BLAS/SRC/zhpr.f
code/lapack/BLAS/SRC/zhpr2.f
code/lapack/BLAS/SRC/zrotg.f
code/lapack/BLAS/SRC/zscal.f
code/lapack/BLAS/SRC/zswap.f
code/lapack/BLAS/SRC/zsymm.f
code/lapack/BLAS/SRC/zsyr2k.f
code/lapack/BLAS/SRC/zsyrk.f
code/lapack/BLAS/SRC/ztbmv.f
code/lapack/BLAS/SRC/ztbsv.f
code/lapack/BLAS/SRC/ztpmv.f
code/lapack/BLAS/SRC/ztpsv.f
code/lapack/BLAS/SRC/ztrmm.f
code/lapack/BLAS/SRC/ztrmv.f
code/lapack/BLAS/SRC/ztrsm.f
code/lapack/BLAS/SRC/ztrsv.f
code/lapack/BLAS/TESTING/CMakeLists.txt
code/lapack/BLAS/TESTING/Makeblat1
code/lapack/BLAS/TESTING/Makeblat2
code/lapack/BLAS/TESTING/Makeblat3
code/lapack/BLAS/TESTING/cblat1.f
code/lapack/BLAS/TESTING/cblat2.f
code/lapack/BLAS/TESTING/cblat3.f
code/lapack/BLAS/TESTING/dblat1.f
code/lapack/BLAS/TESTING/dblat2.f
code/lapack/BLAS/TESTING/dblat3.f
code/lapack/BLAS/TESTING/sblat1.f
code/lapack/BLAS/TESTING/sblat2.f
code/lapack/BLAS/TESTING/sblat3.f
code/lapack/BLAS/TESTING/zblat1.f
code/lapack/BLAS/TESTING/zblat2.f
code/lapack/BLAS/TESTING/zblat3.f
code/lapack/BLAS/blas.pc.in
code/lapack/BLAS/cblat2.in
code/lapack/BLAS/cblat3.in
code/lapack/BLAS/dblat2.in
code/lapack/BLAS/dblat3.in
code/lapack/BLAS/sblat2.in
code/lapack/BLAS/sblat3.in
code/lapack/BLAS/zblat2.in
code/lapack/BLAS/zblat3.in
code/lapack/dgeev_lib.a
code/lapack/double/dgebak.f
code/lapack/double/dgebal.f
code/lapack/double/dgeev.f
code/lapack/double/dgehd2.f
code/lapack/double/dgehrd.f
code/lapack/double/dhseqr.f
code/lapack/double/disnan.f
code/lapack/double/dlabad.f
code/lapack/double/dlacpy.f
code/lapack/double/dladiv.f
code/lapack/double/dlaexc.f
code/lapack/double/dlahqr.f
code/lapack/double/dlahr2.f
code/lapack/double/dlaisnan.f
code/lapack/double/dlaln2.f
code/lapack/double/dlange.f
code/lapack/double/dlanv2.f
code/lapack/double/dlapy2.f
code/lapack/double/dlaqr0.f
code/lapack/double/dlaqr1.f
code/lapack/double/dlaqr2.f
code/lapack/double/dlaqr3.f
code/lapack/double/dlaqr4.f
code/lapack/double/dlaqr5.f
code/lapack/double/dlarf.f
code/lapack/double/dlarfb.f
code/lapack/double/dlarfg.f
code/lapack/double/dlarft.f
code/lapack/double/dlarfx.f
code/lapack/double/dlartg.f
code/lapack/double/dlascl.f
code/lapack/double/dlaset.f
code/lapack/double/dlassq.f
code/lapack/double/dlasy2.f
code/lapack/double/dorg2r.f
code/lapack/double/dorghr.f
code/lapack/double/dorgqr.f
code/lapack/double/dorm2r.f
code/lapack/double/dormhr.f
code/lapack/double/dormqr.f
code/lapack/double/dtrevc.f
code/lapack/double/dtrexc.f
code/lapack/lapack_routine/dlamch.f
code/lapack/lapack_routine/ieeeck.f
code/lapack/lapack_routine/iladlc.f
code/lapack/lapack_routine/iladlr.f
code/lapack/lapack_routine/ilaenv.f
code/lapack/lapack_routine/iparmq.f
code/lapack/lapack_routine/lsame.f
code/lapack/lapack_routine/xerbla.f
code/lapack/geev_lib.a
code/lapack/lapack_routine/ilaslc.f
code/lapack/lapack_routine/ilaslr.f
code/lapack/lapack_routine/sgebak.f
code/lapack/lapack_routine/sgebal.f
code/lapack/lapack_routine/sgeev.f
code/lapack/lapack_routine/sgehd2.f
code/lapack/lapack_routine/sgehrd.f
code/lapack/lapack_routine/shseqr.f
code/lapack/lapack_routine/sisnan.f
code/lapack/lapack_routine/slabad.f
code/lapack/lapack_routine/slacpy.f
code/lapack/lapack_routine/sladiv.f
code/lapack/lapack_routine/slaexc.f
code/lapack/lapack_routine/slahqr.f
code/lapack/lapack_routine/slahr2.f
code/lapack/lapack_routine/slaisnan.f
code/lapack/lapack_routine/slaln2.f
code/lapack/lapack_routine/slamch.f
code/lapack/lapack_routine/slange.f
code/lapack/lapack_routine/slanv2.f
code/lapack/lapack_routine/slapy2.f
code/lapack/lapack_routine/slaqr0.f
code/lapack/lapack_routine/slaqr1.f
code/lapack/lapack_routine/slaqr2.f
code/lapack/lapack_routine/slaqr3.f
code/lapack/lapack_routine/slaqr4.f
code/lapack/lapack_routine/slaqr5.f
code/lapack/lapack_routine/slarf.f
code/lapack/lapack_routine/slarfb.f
code/lapack/lapack_routine/slarfg.f
code/lapack/lapack_routine/slarft.f
code/lapack/lapack_routine/slarfx.f
code/lapack/lapack_routine/slartg.f
code/lapack/lapack_routine/slascl.f
code/lapack/lapack_routine/slaset.f
code/lapack/lapack_routine/slassq.f
code/lapack/lapack_routine/slasy2.f
code/lapack/lapack_routine/sorg2r.f
code/lapack/lapack_routine/sorghr.f
code/lapack/lapack_routine/sorgqr.f
code/lapack/lapack_routine/sorm2r.f
code/lapack/lapack_routine/sormhr.f
code/lapack/lapack_routine/sormqr.f
code/lapack/lapack_routine/strevc.f
code/lapack/lapack_routine/strexc.f
